@mixin medium-devices {
  .main-image, .design-image {
    display: block;
  }

  main {
    .design {
      align-items: normal;
      gap: 90px;

      .design-image {
        div img {
          top: 25px;
          left: 25px;
        }
      }
    }

    .galery {
      div {
        flex-direction: row;
        gap: 20px;

        img {
          width: 28.625vw;
          height: 36.646vw;
        }
      }
    }

    .budget {
      .light-button {
        width: 225px;
      }
    }
  }
}