$primary-font: 'Montserrat', sans-serif;
$white: #fff;
$bg-light: #F9F9F9;
$primary-color: #272727;
$secondary-color: #797979;
$padding: 18.021vw;

$size1: 1rem;
$size2: 1.125rem;
$size3: 1.5rem;
$size4: 1.75rem;
$size5: 2rem;
$size6: 2.5rem;