@import 'variables';
@import 'mixins';
@import 'small-devices';
@import 'medium-devices';
@import 'large-devices';

@media (max-width: 630px) {
  @include small-devices;
}

@media (min-width: 631px) and (max-width: 768px) {
  @include small-devices;
  @include medium-devices;
}

@media (min-width: 769px) and (max-width: 1025px) {
  @include large-devices;
}

@media (min-width: 1026px) and (max-width: 1279px) {
  @include large-devices;

  $padding: 12vw;

  body header {
    padding: 0 $padding;
  }

  main {
    .intro {
      padding: 0 $padding;

      div:nth-child(1) h1 {
        font-size: 2.5rem;
      }
    }

    .design {
      padding: 100px $padding 82px;
    }

    .galery {
      padding: 55px $padding 47px;
    }

    .budget {
      padding: 78px $padding;
    }
  }

  body footer {
    padding: 90px $padding;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: $primary-font;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0 $padding;
}

.logo {
  @include flex-center(16px);

  img {
    width: 40px;
    background-color: $primary-color;
  }

  h1 {
    @include text($primary-color, $size3, 600);
    text-transform: uppercase;
  }
}

.home-button {
  display: none;
}

nav {
  @include flex-center(56px);

  ul {
    @include flex-center(48px);
    list-style-type: none;

    li a {
      @include text();
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  div {
    @include flex-center(32px);
  }
}

main {
  display: flex;
  flex-direction: column;
}

.intro {
  @include flex-center(3.542vw);
  background: $bg-light;
  padding: 0 $padding;

  div {
    h1 {
      @include text($primary-color, $size6, 600);
      margin-bottom: 16px;
    }

    p {
      @include text($secondary-color);
      line-height: 160%;
      margin-bottom: 32px;
    }

    div {
      @include flex-center(40px);

      a {
        @include text();
      }
    }
  }
}

.dark-button {
  @include button();
}

.dark-button:hover {
  background: $bg-light;
  color: $primary-color;
  border: 1px solid $primary-color;
}

.main-image img {
  width: 34.375vw;
  height: 44.271vw;
}

.design {
  @include flex-center(106px);
  padding: 129px $padding 82px;
}

.design-image div {
  background: $primary-color;
  width: 25.365vw;
  height: 23.802vw;

  img {
    width: 100%;
    height: 100%;
    position: relative;
    top: 50px;
    left: 50px;
  }
}

.design-description {
  div {
    background: $primary-color;
    padding: 20px 31px;
    margin-bottom: 24px;

    h2 {
      @include text($white, $size4, 500);
    }

    p {
      @include text($white, $size1, 400);
      line-height: 160%;
      margin: 20px 0 0;
    }
  }

  a {
    @include text();
    text-decoration-line: underline;
  }
}

.galery {
  padding: 55px $padding 47px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $bg-light;

  h2 {
    @include text($primary-color, $size5, 600);
  }

  p {
    @include text($secondary-color);
    line-height: 160%;
    margin: 19px 0 32px;
    text-align: center;
    width: 65%;
  }

  div {
    display: flex;
    gap: 20px;
    margin-top: 12px;

    img {
      width: 20.625vw;
      height: 28.646vw;
      object-fit: cover;
    }
  }
}

.budget {
  padding: 78px $padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    @include text($primary-color, $size5, 600);
  }

  p {
    @include text($secondary-color);
    margin: 17px 0 36px;
    text-align: center;
  }
}

.light-button {
  @include button($primary-color, $white);
  border: 1px solid $primary-color;
}

.light-button:hover {
  background: $primary-color;
  color: $white;
}

footer {
  display: flex;
  align-items: flex-start;
  gap: 69px;
  background: $bg-light;
  padding: 90px $padding;
  justify-content: center;
}

.footer-links {
  display: flex;
  gap: 117px;

  div {
    display: flex;
    flex-direction: column;

    p {
      @include text($primary-color, $size2, 600);
      margin-bottom: 21px;
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 16px;

      a {
        @include text($primary-color, $size2, 400);
        text-decoration: none;
      }
    }
  }
}